<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
        <setting name="cacheEnabled" value="true"></setting>
        <setting name="useColumnLabel" value="true"></setting>
    </settings>
<plugins>
    <plugin interceptor="com.github.pagehelper.PageInterceptor">
        <!--指定当前数据库连接的平台  dialect:方言 -->
        <!--<property name="dialect" value="MYSQL"></property>-->
    </plugin>
</plugins>


</configuration>